<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<br>

<div class="container">
  <div class="text-center" [hidden]="cookieService.check('sessionId')">
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
      <a routerLink="/login">
      <button class="btn btn-primary">Login</button>
      </a>
    </div>

  <div class="col-lg-2">
    <a routerLink="/create">
    <button class="btn btn-primary">Create</button>
    </a>
  </div>
    <div class="col-lg-4"></div>
  </div>
  <br>
  <br>
  <br>

  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


